<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <title>Homework 4: Computer Science Topics</title>
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacific" rel="stylesheet">
        <!--internal style-->

        
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        
        <header>
              <h1><a href="index">Operating Systems</a></h1>
        </header>
        <hr>
        <nav>
            <a href=" type"> Types of Operating Systems </a>
            <a href=" job"> Operating System's Job </a>
            <a href=" os"> Other Applications</a>
            
        </nav>
    </body>
