<% include partials/header.ejs %>

            
            <div id = "mainDiv">
                
                <br>
                <img width = "250" src="img/operating-system.jpg" alt = " Operating">
                <br>
                <br>
                <p id = "topic">
                    What is an operating system?
                </p>
                
                <br>
                <p>
                    "An operating system is the primary software that manages all the hardware and other software on a computer."
                </p>
                
                <p>
                    This is also known as an OS.
                </p>
                <br><br>
            </div>
        

        </main>

<% include partials/footer.ejs %>