<% include partials/header.ejs %>


        <main>
            
            <div id = "mainDiv">
                
                <br>
                <img width = "250" src="img/application.jpg" />
                <br>
                <br>
                <p id = "topic">
                    
                </p>
                
                <br>
                <p>
                    Operating systems does not solely apply to traditional desktop PCs and laptops. 
                </p>
                
                <p>
                     A smartphone is a computer, as are tablets, smart TVs, game consoles, smart watches, and Wi-Fi routers.
                    
                </p>
                <br><br>
            </div>
        

        </main>
<% include partials/footer.ejs %>