<% include partials/header.ejs %>

        <main>
            
            <div id = "mainDiv">
                
                <br>
                <img width = "250" src="img/os_icons.jpg" />
                <br>
                <br>
                <p id = "topic">
                    Types of operating systems
                </p>
                
                <br>
                <p>
                    Operating systems usually come pre-loaded on any computer you purchase. 
                </p>
                
                    Most people use the operating system that comes with their computer, but it's possible to upgrade or even change operating systems.
                <p>
                    
                </p>
                
                <p>
                   The three most common operating systems for computers are Microsoft Windows, macOS, and Linux. 
                </p>
                <br><br>
            </div>
        

        </main>
<% include partials/footer.ejs %>